<a href="https://colab.research.google.com/github/CapitalJava/APM466-HW1/blob/master/APM466_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import math

# read data
data = pd.read_csv("data.csv", encoding = "latin-1")
data['maturity date']=pd.to_datetime(data['maturity date'], format = "%d/%m/%Y")
data_mod = data.iloc[[9,11,13,3,10,14,17,19,27,25],:]
ds = data_mod.sort_values(by = ["maturity date"])
ds

         Bond  02/01/2020  03/01/2020  ...          ISIN  issue date  maturity date
13   CDA 2020       99.85       99.86  ...  CA135087D929  14/10/2014     2020-03-01
9    CDA 2020       99.26       99.28  ...  CA135087E596  13/04/2015     2020-09-01
3    CDA 2021       98.89       98.93  ...  CA135087F254  19/10/2015     2021-03-01
11   CDA 2021       98.41       98.45  ...  CA135087F585  11/04/2016     2021-09-01
10   CDA 2022       97.57       97.63  ...  CA135087G328  11/10/2016     2022-03-01
14   CDA 2022      102.53      102.59  ...  CA135087ZU15  02/08/2011     2022-06-01
17   CDA 2023      100.31      100.42  ...  CA135087H490  06/10/2017     2023-03-01
19   CDA 2023       99.48       99.59  ...  CA135087A610  30/07/2012     2023-06-01
27   CDA 2024      102.52      102.65  ...  CA135087J546  05/10/2018     2024-03-01
25  CDA 19/24       98.72       98.95  ...  CA135087J967  05/04/2019     2024-09-01

[10 rows x 15 columns]

In [0]:
Today = pd.to_datetime("02/01/2020", format = "%d/%m/%Y")
spot = []
time = []
pre_sum = 0
for row in ds.iterrows():
  coupon = (float(row[1]["coupon"].strip('%')) / 100) * 100 / 2
  price = row[1]["02/01/2020"]
  t = ((row[1]["maturity date"] - Today).days) / 365
  r = - math.log((price-coupon*pre_sum)/(100+coupon)) / t
  pre_sum += math.exp(-r*t)
  spot.append(r)
  time.append(t)

[0.05551180427480315, 0.022413309540732403, 0.01930662191262479, 0.018665043742015774, 0.01720950435388765, 0.023389327103840507, 0.018290859381497642, 0.019076454781450123, 0.01794584966487762, 0.01890437278010645]

0
1
2
3